<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./inc/head')%>
</head>
<body>
<%-include('./inc/nav')%>
<section>
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet debitis, deleniti doloremque explicabo facilis fugit illo ipsam iste laborum magni maxime nihil nisi officia optio quas, quisquam ratione tempore unde.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet debitis, deleniti doloremque explicabo facilis fugit illo ipsam iste laborum magni maxime nihil nisi officia optio quas, quisquam ratione tempore unde.</p>
</section>
</body>
</html>